<div class="flex min-h-screen bg-[var(--bg)] text-[var(--text)] transition-all duration-300">

  <!-- Sidebar -->
  <div
    class="w-72 fixed left-0 top-0 h-screen flex flex-col
         bg-[var(--sidebar)] border-r border-[var(--border)] z-50
         transition-all duration-300"
    [class.hidden]="!sidebarOpen">


    <div class="flex items-center justify-between px-4 py-4
                border-b border-[var(--border)]">

      <h1 class="text-2xl font-bold tracking-wide text-[var(--accent)]">
        ELYTRA
      </h1>

      <div
        class="w-7 h-7 rounded-full cursor-pointer bg-[var(--accent)]"
        (click)="themeService.toggleTheme()">
      </div>

    </div>

    <div class="flex-1 overflow-y-auto scrollbar-none">
      <app-sidebar [treeData]="treeData"></app-sidebar>
    </div>
  </div>

  <!-- Main Content -->
  <div
    class="flex-1 px-12 py-10 transition-all duration-300"
    [class.ml-72]="sidebarOpen">

    <div class="mb-6">
      <div class="bg-blue-500 w-8 h-8 cursor-pointer"
           (click)="toggleSideBar()">
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>

</div>
